<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614326770915-ps828oabv1melprsl5hh7kma7vp5tieg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614326770915-ps828oabv1melprsl5hh7kma7vp5tieg</string>
	<key>API_KEY</key>
	<string>AIzaSyBRucPH4uh4a1KAQOyo-gugb1Ld_TopTFk</string>
	<key>GCM_SENDER_ID</key>
	<string>614326770915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atakancavuslu.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-875e7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-875e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614326770915:ios:1c166bfc7482f41fbdf9d6</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-875e7.firebaseio.com</string>
</dict>
</plist>